<!DOCTYPE html>
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="kevin-main.com">
    <meta name="author" content="Kevin Main">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>kevin-main.com - @ViewBag.Title</title>

    <link rel="icon" href=@Url.Content("~/Assets/Images/Content/favicon.ico")>

    @Styles.Render("~/Assets/Styles")

    ><!--[if lt IE 9]>
    @Scripts.Render("~/Assets/Scripts/ltIE9")
    <![endif]-->
    @Scripts.Render("~/Assets/Scripts/modernizr")
</head>
<body class="cssAnimate onepager">
    <div class="main">
        <div class="ct-topbar ct-topbar--default">
            <div class="container">
                <!-- Header row -->
                <div class="row">
                    <!-- Contact details column -->
                    <div class="col-sm-6 col-lg-6">
                        <div class="text-wrapper">
                            <i class="fa fa-phone"></i>
                            07739688271
                        </div>
                        <div class="text-wrapper">
                            <a href="#"><i class="fa fa-envelope"></i>hello@kevin-main.com</a>
                        </div>
                    </div>
                    <!-- Social Media column-->
                    <div class="col-sm-6 col-lg-6">
                        <div class="ct-socials text-right">
                            <a href="https://www.facebook.com/KevMain" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/KevMain" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://plus.google.com/+KevMain81" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus"></i></a>
                            <a href="http://uk.linkedin.com/in/KevMain" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ct-navbarMobile">
            <div class="navbar-header">
                <a class="navbar-brand" href="indexmulti.html">
                    <img class="ct-logo-navbar--transparent" src=@Url.Content("~/Assets/Images/Content/logo.png") alt="">
                    <img class="ct-logo-navbar--solid" src=@Url.Content("~/Assets/Images/Content/logo-solid.png") alt="">
                </a>
            </div>
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Start Mobile Navigation -->
        <div class="ct-menuMobile">
            <ul class="ct-menuMobile-navbar">
                <li><a href="#header">Start</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#prices">Prices</a></li>
                <li><a href="#clients">Clients</a></li>
                <li><a href="#works">Works</a></li>
                <li class="dropdown ">
                    <a href="#contact">Contact</a>
                    <ul class="dropdown-menu">
                        <li>
                            <span>Monday - Friday</span>
                            <p>9:00AM - 6:00PM</p>
                            <span>Saturday</span>
                            <p>10:00AM - 4:00PM</p>
                            <span>Sunday</span>
                            <p>CLOSED</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- End Mobile Navigation -->
        <!-- Start Main Navigation -->
        <div id="ct-js-wrapper" class="ct-pageWrapper">
            <nav class="navbar ct-navbar--transparent ct-navbar--stickyToTop ct-navbar--withTopbar" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="indexmulti.html">
                            <img class="ct-logo-navbar--transparent" src=@Url.Content("~/Assets/Images/Content/logo.png") alt="">
                            <img class="ct-logo-navbar--solid" src=@Url.Content("~/Assets/Images/Content/logo-solid.png") alt="">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="onepage"><a href="#header">Start</a></li>
                            <li class="onepage"><a href="#about">About</a></li>
                            <li class="onepage"><a href="#services">Services</a></li>
                            <li class="onepage"><a href="#prices">Prices</a></li>
                            <li class="onepage"><a href="#clients">Clients</a></li>
                            <li class="onepage"><a href="#works">Works</a></li>
                            <li class="dropdown onepage">
                                <a href="#contact">Contact</a>
                                <ul class="dropdown-menu ">
                                    <li>
                                        <span>Monday - Friday</span>
                                        <p>9:00AM - 6:00PM</p>
                                        <span>Saturday</span>
                                        <p>10:00AM - 4:00PM</p>
                                        <span>Sunday</span>
                                        <p>CLOSED</p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <header class="ct-mediaSection ct-section scroll" id="header" data-stellar-background-ratio="0.3" data-height="100%" data-type="parallax" data-bg-image=@Url.Content("~/Assets/Images/Content/computer-home-main-bg.jpg") data-bg-image-mobile=@Url.Content("~/Assets/Images/Content/computer-home-main-bg.jpg")>
                <div class="ct-mediaSection-inner">
                    <div class="container">
                        <div class="row">
                            <div class="ct-header-text col-md-12 text-center ct-js-animationDynamic">
                                <h2 class="ct-u-paddingBottom40 ct-js-animation--item ct-motive-text" data-when="span" data-from="0" data-to="0.5" data-opacity="0" data-translatey="-100">Kevin Main<br>Software Developer</h2>
                                <h2 class="ct-u-hdr2 ct-js-animation--item" data-when="span" data-from="0" data-to="0.5" data-opacity="0" data-translatey="-100">Optimizationeer. Abstractionist. Algorithmist. Recursionist</h2>
                                <div class="ct-divider ct-divider--type6 ct-js-animation--item" data-when="span" data-from="0" data-to="0.5" data-opacity="0" data-translatey="100">
                                    <div class="ct-line ct-line--left"></div>
                                    <!--<i class="icon-computer"></i>-->
                                    <img src=@Url.Content("~/Assets/Images/divider-icon-type6.png") alt="">
                                    <div class="ct-line ct-line--right"></div>
                                </div>
                                <a href="#prices" class="btn btn-default btn--radius ct-js-btnScroll ct-js-animation--item" data-when="span" data-from="0" data-to="0.5" data-opacity="0" data-translatey="100">See what I can offer you</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>



            </div>
            @RenderBody()
        </div>
</body>
</html>